[submodule "src/mavros"]
	path = src/mavros
	url = git@github.com:BambiSaver/mavros.git
	branch = master
[submodule "src/mavlink"]
	path = src/mavlink
	url = git@github.com:BambiSaver/mavlink-gbp-release.git
	branch = release/kinetic/mavlink
