[submodule "src/mavros"]
	path = src/mavros
	url = git@github.com:BambiSaver/mavros.git
	branch = master
[submodule "src/mavlink"]
	path = src/mavlink
	url = git@github.com:BambiSaver/mavlink-gbp-release.git
	branch = release/kinetic/mavlink
[submodule "src/bambi/bambi/src/coverage_path_planner/lib/spline"]
	path = src/bambi/bambi/src/coverage_path_planner/lib/spline
	url = git@github.com:/BambiSaver/cpp-spline
[submodule "src/splines"]
	path = src/splines
	url = git@github.com:/BambiSaver/Splines
